/* Estilo para centrar el título h1 */
h1,h2 {
    text-align: center;
  }

  /* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    }

tr, td {
    text-align: center;
    border: 1px solid #ddd;
    }

td {
    background-color: #f2f2f2;
    vertical-align: top; /* Alineación vertical superior */
    width: 30%;
    }

footer p.com_per {
    text-align: right; /* Alinea el texto a la derecha */
    }